.title {
    padding: .75em 1em;
    border: 1px solid #ccc;
    border-top: 3px solid #3498db;
    background: -webkit-linear-gradient(top, #fff 0%, #f0f0f0 100%);
    background: linear-gradient(to bottom, #fff 0%, #f0f0f0 100%);
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 1) inset;
  }