.title {
    padding: .75em 1em;
    border: 1px solid #ccc;
    border-top: 3px solid #3498db;
    background: -webkit-linear-gradient(top, #fff 0%, #f0f0f0 100%);
    background: linear-gradient(to bottom, #fff 0%, #f0f0f0 100%);
    box-shadow: 0 -1px 0 rgba(255, 255, 255, 1) inset;
}
.square_btn{
  display: inline-block;
  padding: 0.5em 1em;
  text-decoration: none;
  background: #668ad8;/*ボタン色*/
  color: #FFF;
  border-bottom: solid 4px #627295;
  border-radius: 3px;
}
.square_btn:active {/*ボタンを押したとき*/
  -ms-transform: translateY(4px);
  -webkit-transform: translateY(4px);
  transform: translateY(4px);/*下に動く*/
  border-bottom: none;/*線を消す*/
}

.margin {
  margin-top: 2em
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 100px;
}

h2 {
  font-family: fantasy;
  font-weight: 400;
}